.casilla{
    width:120px;
    height: 120px;
    font-size: 80px;
    font-weight: bold;    
    text-align: center;
    border: slateblue solid 2px;
}
.casilla:focus{
    background-color: antiquewhite;
}
#titulo{
    font-size: large;
    margin: 0 520px;
    font-style: oblique;
}
.division{
    margin: -20px 100px;
    padding: 5%;
    display: inline-block;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tablero{
    width: 40%;
    margin: 0 auto;
    

}